{% extends 'base.html' %} 
{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}
<div class="container">
    <div class="text-center mt-4">
        <h1>Productos</h1>
        <button class="btn btn-primary btn-abrir-carrito" onclick="mostrarCarrito()">Abrir Carrito</button>
    </div>
    <div class="row mt-4">
        {% for p in productos %}
        <div class="col-6 col-md-3 mt-3">
            <div class="card border-success h-100">
                {% if p.imagen %} 
                <img class="imagen_galeria" src="{{ p.imagen.url }}" alt="imagen producto">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <p class="card-title">{{ p.marca }}</p>
                    <p class="card-text flex-grow-1">{{ p.categoría }}</p>
                    <h5 class="card-title"><strong>{{ p.nombre }}</strong></h5>
                    <h5 class="card-title">${{ p.precioVenta | intcomma }} CLP</h5>
                    <h5 class="card-title2" name="precioApi" data-precio-original="{{ p.precioVenta }}" >{{ p.precioVenta | intcomma }} USD</h5>
                    
                    <h5 class="card-title">{{ p.descripción }}</h5>
                    {% if p.descripcion|length > 20 %}
                        <a href="#" class="btn btn-link btn-sm align-self-end">Mostrar más</a>
                    {% endif %}
                    <button class="btn btn-primary boton-item" type="button" 
                    data-nombre="{{ p.nombre }}"  
                    data-precio="{{ p.precioVenta }}"
                    data-imagen="{{ p.imagen.url }}">Agregar al carrito</button>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="carrito">
    <div class="carrito-header">
        <h3>Carrito</h3>
        <button class="btn btn-danger btn-cerrar" onclick="ocultarCarrito()">Cerrar</button>
    </div>
    <div class="carrito-items">
        <!-- Los elementos del carrito se agregan dinámicamente aquí -->
    </div>
    <div class="carrito-footer">
        <h4>Total: <span class="carrito-precio-total">0 CLP</span></h4>
        <button class="btn btn-success btn-pagar">Pagar</button>
        <button class="btn btn-info btn-convertir-dolares">Convertir a dólares</button>

    </div>
</div>


<style>
    .custom-card {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Sombra de la tarjeta */
    }

    .custom-img {
        width: 200px;
        height: 200px;
    }

    .cream-box {
        background-color: #FFF8E7; /* Color de fondo del recuadro crema */
        padding: 10px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5); /* Sombra del recuadro */
    }

    .cream-text {
        color: black; /* Color del texto */
    }
    
 

    .carrito {
        position: fixed;
        top: 0;
        right: -100%;
        width: 400px;
        height: 100%;
        background-color: grey;
        padding: 20px;
        transition: right 0.2s ease-in-out;
    }

    .carrito-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .carrito-items {
        max-height: calc(100% - 180px);
        overflow-y: auto;
        margin-bottom: 20px;
    }

    .carrito-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .carrito-footer {
        display: absolute;
        justify-content: space-between;
        align-items: center;
    }

    .btn-cerrar {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-cerrar:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

</style>

<script>
    // Variables globales
    var carrito = [];
    var total = 0;

    // Función para agregar un artículo al carrito
    function agregarAlCarrito(nombre,precio) {
        // Verificar si el artículo ya está en el carrito
        var itemExistente = carrito.find(function(item) {
            return item.nombre === nombre;
        });

        if (itemExistente) {
            itemExistente.cantidad++;
        } else {
            carrito.push({ nombre: nombre, precio: precio, cantidad: 1 });
        }
        
        total += precio;
        actualizarCarrito();
    }

    // Función para actualizar el carrito
    function actualizarCarrito() {
        var carritoItems = document.querySelector('.carrito-items');
        var carritoTotal = document.querySelector('.carrito-precio-total');
        
        // Vaciar el contenido actual del carrito
        carritoItems.innerHTML = '';

        // Generar el HTML para cada artículo en el carrito
        carrito.forEach(function(item) {
            var itemHTML = document.createElement('div');
            itemHTML.classList.add('carrito-item');
            itemHTML.innerHTML = `
                <span>${item.nombre}</span>
                <button class="btn btn-sm btn-secondary btn-restar" onclick="restarCantidad('${item.nombre}')">-</button>
                <span>${item.cantidad}</span>
                <button class="btn btn-sm btn-secondary btn-sumar" onclick="sumarCantidad('${item.nombre}')">+</button>
                <span>$${item.precio}</span>
            `;
            carritoItems.appendChild(itemHTML);
        });

        // Actualizar el total
        carritoTotal.textContent = `$${total} CLP`;
    }

    // Función para mostrar el carrito
    function mostrarCarrito() {
        var carritoContainer = document.querySelector('.carrito');
        carritoContainer.style.right = '0';
    }

    // Función para ocultar el carrito
    function ocultarCarrito() {
        var carritoContainer = document.querySelector('.carrito');
        carritoContainer.style.right = '-100%';
    }

    // Función para restar la cantidad de un artículo en el carrito
    function restarCantidad(nombre) {
        var item = carrito.find(function(item) {
            return item.nombre === nombre;
        });

        if (item && item.cantidad > 1) {
            item.cantidad--;
            total -= item.precio;
            actualizarCarrito();
        }
    }

    // Función para sumar la cantidad de un artículo en el carrito
    function sumarCantidad(nombre) {
        var item = carrito.find(function(item) {
            return item.nombre === nombre;
        });

        if (item) {
            item.cantidad++;
            total += item.precio;
            actualizarCarrito();
        }
    }

    // Función para convertir el total del carrito a dólares
    function convertirADolares() {
        // Realizar la petición a la API de conversión
        fetch('https://mindicador.cl/api')
            .then(response => response.json())
            .then(data => {
                // Obtener el valor del dólar en pesos chilenos
                var dolarValue = data.dolar.valor;
                
                // Calcular el total en dólares
                var totalDolares = total / dolarValue;

                // Mostrar el total en dólares
                var carritoTotal = document.querySelector('.carrito-precio-total');
                carritoTotal.textContent = `$${totalDolares.toFixed(2)} USD`;
            });
    }

    // Función para convertir el total del carrito a CLP


    // Event listeners
    document.addEventListener('DOMContentLoaded', function() {
        var botonesAgregar = document.querySelectorAll('.boton-item');
        botonesAgregar.forEach(function(boton) {
            boton.addEventListener('click', function() {
                var nombre = boton.getAttribute('data-nombre');
                var precio = parseInt(boton.getAttribute('data-precio'));
                agregarAlCarrito(nombre, precio);
            });
        });

        var btnConvertirDolares = document.querySelector('.btn-convertir-dolares');
        btnConvertirDolares.addEventListener('click', convertirADolares);



    });
</script>
{% endblock %}