{% extends 'base.html' %} 
{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

<center>
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for p in productos %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ p.imagen.url }}" class="d-block w-100" alt="Imagen producto">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="bg-secondary p-2 text-light bg-opacity-50">{{ p.marca }}</h5>
                <h2 class="bg-secondary p-2 text-light bg-opacity-50">{{ p.nombre }}</h2>
                <h2 class="bg-secondary p-2 text-light bg-opacity-50">${{ p.precioVenta }}</h2>
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>    
</div>
</center>

{% endblock %}